* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: black;
  background-color: white;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.logo {
  width: 80px;
  height: 90px;
}

#navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

#navbar-links  li{
  list-style: none;
}

#navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  font-size: 2.5vw;
}

#navbar-links li:hover {
  cursor: pointer;
  background-color: rgb(238, 238, 241);
}

#hamburger-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

#hamburger-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 600px) {
  #hamburger-button {
    display: flex;
    margin: auto;
  }

  #navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  #navbar-links li {
    text-align: center;
  }

  #navbar-links.active {
    display: flex;
  }
}

/* Hero Section */
.hero-container {
  height: 50vw;
  background-image: url(/Users/brentsharpe/repos/Syracuse-Children-s-Zone/images/heroimage2.jpg);
  background-size: cover;
  background-position: relative;
  position: relative;
  background-repeat: no-repeat;
  border: 5px solid;
  border-image:   linear-gradient(to right, orange 25%, teal 25%, teal 50%,red 50%, red 75%, yellow 75%) 5;
}

.hero-container h2 {
  color: black;
  position: absolute;
  font-size: 4.5vw;
  padding: 25px;
}

/* .hero-container:before, .hero-container:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  height: 8px;
  background-image: -webkit-linear-gradient(35deg, lightblue 20%, yellow, orange, red, green);
  background-size: 80px;
}

.hero-container:before {
  top: 0px;
}
.hero-container:after {
  bottom: 0px;
} */

/* About Section */
.about {
  padding: 50px;
  text-align: center;
}

.about h2 {
  font-size: 4.5vw;
}

.about p{
  font-weight: 300;
  font-size: 3.5vw;
}