* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('/Users/brentsharpe/repos/Syracuse-Children-s-Zone/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.navbar {
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  height: 150px;
} 

.logo {
  width: 200px;
  height: auto;
  /* height: 140px; */
}

#navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
}
#navbar-links  li{
  list-style: none;
  border-bottom: white solid 5px;
}

#navbar-links li a {
  text-decoration: none;
  color: black;
  padding: 1rem;
  display: block;
  font-size: 1.5vw;
}

#navbar-links li:hover {
  cursor: pointer;
  border-bottom: #CCF381 solid 5px;
  border-radius: 0 0 5px 5px;
}

#hamburger-button {
  position: absolute;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

#hamburger-button .bar{
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 700px) {
  #hamburger-button {
    display: flex;
    margin: auto;
  }

  #navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  #navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  #navbar-links li {
    text-align: center;
  }

  #navbar-links.active {
    display: flex;
  }

  .logo {
    margin-top: 15px;
  }
} 

/* >>>>>>>>>>>>     Landing Page     <<<<<<<<<<<<<<<<< */
.landing-container {
  width: 100%;
  height: 57vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/Users/brentsharpe/repos/Syracuse-Children-s-Zone/images/syrSkyline.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.buttons-container {
  margin-top: 225px;
  gap: 1vw;
  justify-content: space-around;
  object-fit: contain;
}

.learn-more-button {
  animation-duration: 10s;
}

.donate-button {
  animation-duration: 12s;
}

.volunteer-button {
  animation-duration: 14s;
}

.button {
  width: 200px;
  height: auto;
  animation-iteration-count: infinite;
}

.button:hover {
  cursor: pointer;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}


.landing-top-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.blue {
  color: #0366B9;
}

.red {
  color: #DD4A42;
}

.title {
  color: black;
  font-size: 2.5vw;
  padding: 0;
  margin: 0;
  padding-bottom: 10px;
}

.motto {
  padding: 0;
  margin: 0;
  font-size: 1.5vw;
}

/*  >>>>>>>>>>>>>>>   Home Hero Section   <<<<<<<<<<<<<<< */
.hero-section {
  display: flex;
  width: 100%;
  justify-content: space-around;
  /* margin-top: 50px; */
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #4831D4;
  clip-path: polygon(0% 10%, 100% -2%, 100% 100%, 0 90%);
}

.hero-left {
  width: 40%;
}

.hero-left h1 {
  font-size: 3.5vw;
}

p {
  font-size: 1.5vw;
  line-height: 1.5;
}

button {
  background-color: #CCF381;
  padding: 15px;
  font-size: 2rem;
  color: #4831D4;
  border-radius: 20px;
}

button:hover {
  cursor: pointer;
}

.hero-image-grid {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px;
  column-gap: 15px;
  row-gap: 15px;
  /* border: 5px black solid; */
}

.hero-image-grid img {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  /* object-fit: cover; */
}

.image-grid-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.image-grid-2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}

.image-grid-3 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 10;
}

.image-grid-4 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 5;
}

.image-grid-5 {
  grid-column-start: 7;
  grid-column-end: 10;
  grid-row-start: 1;
  grid-row-end: 4;
}

.image-grid-6 {
  grid-column-start: 5;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 10;
}

/* >>>>>>>>>>>>>>       Programs Section    <<<<<<<<<<<<<<< */


.programs-section {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  border-bottom: polygon(0% 10%, 100% -2%, 100% 100%, 0 90%);

}

.program {
  text-align: center;
  width: 300px;
}

.program h3 {
  font-size: 2rem;
}
.icon {
  width: 100px;
  height: auto;
}

.green {
  color: #CCF381;
}

.blue {
  color: #4831D4;
}

.programs-title {
  text-align: center;
}

/* >>>>>>>>>>>>>>>>> Mission and Values Section <<<<<<<<<<<<<<<<<< */
.mission-values-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.mission-values-introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  text-align: center;
}

.mission-values-divider-image {
  width: 100%;
  height: 600px;
  background-image: url("/Users/brentsharpe/repos/Syracuse-Children-s-Zone/images/divider.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0 100%);
}

.our-mission-section,
.our-values-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mission-title,
.values-title {
  display: flex;
  flex-direction: column;
  width: 500px;
}